* {
	margin: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
header {
	width: 100%;
	background-color: black;
	color: white;
}
footer {
	width: 100%;
	background-color: black;
	color: white;
}
ul {
	list-style-type: none;
}
li {
		display: inline;
}
a {
	color: white;
	text-decoration: none;
}
h1 {}
h2 {}

#main-div {
	height: auto !important; 
	min-height: 100%;
	height: 100%;
	background-color: tomato;
}
#left-aside {
	display: inline-block;
}
#content {
	display: inline-block;
}
#right-aside {
	display: inline-block;
}

@media screen and (min-width: 1000px) {
	header {
		height: 200px;
		padding-top: 30px;
		padding-left: 30px;
	}
	ul {
		height: 30px;
		margin-top: 100px;
	}
	li + li {
		margin-left: 40px;
	}
	h1 {
		font-size: 50px;
	}
	#left-aside {
		width: 20%;
		height: 500px;
	}
	#content {
		width: 59%; 
	}
	#right-aside {
		width: 20%;
		height: 500px;
	}
}
