* {
	margin: 0px;
	padding: 0px;
}
html, body {
	height: 100%;
}
header {
	background-color: #2BACC5;
	/*background: rgb(244, 232, 255);
	background: -moz-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: -webkit-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: -o-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: -ms-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: linear-gradient(120deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);*/
}
nav {
	float: right;
	margin-right: 10px;
}
li {}
a {
	color: white;
	text-decoration: none;
}
h1 {}
h2 {}


.menu-list {

}

.menu-item {
	display: inline-block;
}
.menu-item-inner {
	background-color: black;
	padding: 10px;
}
.underline-base {
	background-color: gray;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#container {
	margin: auto;
}
#container > * {
	float: left;
}
#left-aside {
}
#content {
	background-color: #ddd;
}
#right-aside {
}
#left-aside, #right-aside {
	height: 100px;
	background-color: #eee;
}
#main-footer {
	background-color: black;
	color: white;
}

.menu-item #base-red {
	background-color: red;
}

.menu-item #base-yellow {
	background-color: yellow;
}

@media screen and (min-width: 1000px) {
	header {
		padding-top: 30px;
		padding-left: 30px;
	}
	ul {}
	li {
		font-size: 20px;
	}
	.menu-list + .menu-list {
		margin-left: 20px;
	}
	header h1 {
		font-size: 50px;
	}
	#container {
		width: 1000px;
	}
	#left-aside {
		width: 200px;
		/*height: 500px;*/
	}
	#content {
		width: 600px; 
	}
	#right-aside {
		width: 200px;
		/*height: 500px;*/
	}
	#main-footer {
		font-size: 3em;
	}
}
