* {
	margin: 0px;
	padding: 0px;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
header {
	width: 100%;
	background-image: url(../pics/sunset.jpg);
	background-repeat: no-repeat;
	background-color: #6B3D2D;
	/*background: rgb(244, 232, 255);
	background: -moz-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: -webkit-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: -o-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: -ms-linear-gradient(30deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);
	background: linear-gradient(120deg, rgb(244, 232, 255) 0%, rgb(255, 211, 225) 100%);*/
}
nav {
	display: inline;
}
footer {
	width: 100%;
	background-color: black;
	color: white;
}
ul {
	list-style-type: none;
	display: inline-block;
}
li {
	display: inline;
}
a {
	color: white;
	text-decoration: none;
}
h1 {
	display: inline;
}
h2 {}


.menu-list {

}

.menu-item {
	display: inline-block;
}
.menu-item-inner {
}
.underline-base {
	background-color: gray;
}

#main-div {
	height: auto !important; 
	min-height: 100%;
	height: 100%;
	background-color: #ffffff;
}
#left-aside {
	display: inline-block;
	display: none;
}
#content {
	display: inline-block;

}
#right-aside {
	display: inline-block;
}


@media screen and (min-width: 1000px) {
	header {
		height: 110px;
		padding-top: 30px;
		padding-left: 30px;
	}
	ul {}
	li {
		font-size: 20px;
	}
	ul > .menu-list {
		margin-left: 40px;
	}
	h1 {
		font-size: 50px;
		margin-right: 400px;
	}
	#left-aside {
		width: 20%;
		height: 500px;
	}
	#content {
		width: 59%; 
	}
	#right-aside {
		width: 20%;
		height: 500px;
	}
}
