.menu-item {
}
.menu-item-inner {
}
.underline-base {
	width: 100%;
    transition: width 250ms;
    height: 4px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.underline-base-hover {
    transition: width 100ms;
    width: 0;
}
.underline-overlay {
    width: 100%;
    height: 4px;
    position: relative;
    bottom: 4px;
    margin-bottom: -4px;
}

/*
USAGE
<some-element class="menu-item" underline="some color">Some text</some-element>
*/